.backImg {
    background-image: url("../../assets/baby-Shark.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;
}

.profileContainer {
    margin-bottom: 200px;

}