#container-test {
  padding-bottom: 200px;
}

.paper {
    width: 300px;
    height: 300px;
    margin: 20px auto;
    background-color: rgb(250,246,157);
    box-shadow: 0px 0px 5px 0px #888;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
}

  .paper::before {
  content: '';
  width: 2px;
  height: 100%;
  background-color: rgba(255,0,0,0.6);
  position: absolute;
  top: 0;
  left: 40px;
}

.pattern {
    height: 100%;
    background-image: repeating-linear-gradient(rgb(250,246,157) 0px, rgb(250,246,157) 24px, teal 25px);
}

.content {
  padding-top: 6px;
  padding-left: 56px;
  padding-right: 16px;
  line-height: 25px;
  font-family: 'Dancing Script', cursive;
  font-size: 19px;
  letter-spacing: 1px;
  word-spacing: 5px;
}

#testimonial {
    margin-right: 50px;
}