/* .title {
    flexGrow: 1;
    display: 'none'
    [theme.breakpoints.up('sm')]: {
      display: 'block';
    } */

    .root {
        background: linear-gradient(41deg, rgba(34,133,195,1) 29%, rgba(54,253,45,1) 100%);
    }